.AddForm {
    overflow: hidden;
    margin-top: -20px;
    padding: 0 30px;
    padding-bottom: 50px;
    color: #fff;
}

.AddForm > input {
    display: block;
    margin: 15px 0;
}

.AddForm > label {
    display: block;
    font-size: 40px;
    margin: 8px 10px;
}

.AddForm > .InputText {
    width: 40%;
    height: 40px;
    font-size: 25px;
}