.containerGallery {
      margin: -16px;
      padding: 0px 12px;
      display: block;
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: black;
      
    }



.painterWorks {
      width: 80%;
      margin: 10px 0;
      box-shadow: 10px 10px 50px 26px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
}

.bg {  overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 101vh;
      background-size: cover;
      background-position: center;
      will-change: opacity;
    }

.AddForm {
      overflow: hidden;
      margin-top: -20px;
      padding: 0 30px;
      padding-bottom: 50px;
}

.AddForm input {
      display: block;
      margin: 15px 0;
}

.AddForm label {
      display: block;
      font-size: 40px;
      margin: 8px 10px;
}

.AddForm .InputText {
      width: 40%;
      height: 40px;
      font-size: 25px;
}

.styleBth {
      display: block;
      margin: 15px auto;
      width: 23%;
      border: none;
      background: black;
      color: #ffffff !important;
      font-size: 20px;
      font-weight: 100;
      padding: 20px;
      text-transform: uppercase;
      border-radius: 30px;
      display: inline-block;
      transition: all 0.3s ease 0s;
      cursor: pointer;
}

.styleBth:hover {
      color: #404040 !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: none;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.3s ease 0s;
      cursor: pointer;
}

.btnDisabled {
      margin-top: 15px;
      display: block;
      width: 20%;
      border: none;
      background: #f8d7da;
      color: #721c24 !important;
      font-size: 20px;
      font-weight: 100;
      padding: 20px;
      text-transform: uppercase;
      border-radius: 30px;
      display: inline-block;   
}


.preview {
      border: 4px dashed black;
}

.DeleteBth {
      color: white;
      background-color: black;
      font-size: 20;
      border-radius: 3px;
      border: 3px black;
      height: 20px;
      width: 40px;
}

.DeleteItem {
      position: absolute;
      overflow: hidden;
      display: inline-block;
      margin: 15px;
      margin-top: 30px;
}


.WorkBlock {
      overflow: inherit;
}

.Login {
      text-align: center;
      margin: 0 auto;
      margin-top: 100px;
      vertical-align: auto;
      width: 30%;
      
}

.Login > button, label, input {
      display: block;
      margin: 15px auto;
}
.Login > input {
      margin-bottom: 5px;
      width: 50%;
      height: 40px;
      border-radius: 40px;
      font-size: 25px;
      padding:0 10px ;
}

.Login > input :focus {
      border-radius: 40px;
      border-color: royalblue;
}

.Login > label {
      font-size: 40px;
      margin-bottom: -10px;
}

.Login > button {
      margin: 40px auto;
      width: 50%;
}

.Login > p {
      letter-spacing: 0;
      color: black;
      font-size: 20px;
      margin: -30px auto;
}

.alert {
      text-align: center;
      width: 45%;
      position: relative;
      margin: 0 auto;
      padding: 0.5rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 40px;
    }

.alert-danger {
      width:45%;
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }

.alert-success {
      width:45%;
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }